<h2>index4</h2>


<% @post4s.each do |post| %>

    <%= post.user.email.split("@").first %>

    <% if(post.title1.present?) %>
    <h3><%= post.id %> : <%= post.title1 %></h3>
    <a href="/posts/add1/<%= post.id %>">add</a>
    <% end %>
    
    <% if(post.title2.present?) %>
    <h3><%= post.id %> : <%= post.title2 %></h3>
    <a href="/posts/add2/<%= post.id %>">add</a>
    <% end %>
    
    <% if(post.title3.present?) %>
    <h3><%= post.id %> : <%= post.title3 %></h3>
    <a href="/posts/add3/<%= post.id %>">add</a>
    <% end %>
    
    <% if(post.title4.present?) %>
    <h3><%= post.id %> : <%= post.title4 %></h3>
    <a href="/posts/add4/<%= post.id %>">add</a>
    <% end %>
    
    <% if(post.title5.present?) %>
    <h3><%= post.id %> : <%= post.title5 %></h3>
    <a href="/posts/add5/<%= post.id %>">add</a>
    <% end %>
    <br>
    ###########################################
    <a href="/posts/show4/<%= post.id %>">이거 볼래애ㅐㅐ애ㅐㅐㅐㅐㅐ</a>
    ###########################################
    <br>
<% end %>


