<h2>index3</h2>



>

<% @post4s.each do |post| %>
    
    <h3>
            <%= post.user.email.split("@").first %>
                                   
             <%= post.title1 %> - <%= post.title2 %> - <%= post.title3 %> - <%= post.title4 %> - <%= post.title5 %> 
    
            <a href="/posts/show3/<%= post.id %>">이게시물의show3로</a>

    </h3>

    
        
<% end %>

