


<div class="container" >
  
<h2 class ="hyo2" style="height: 20px;">My Page</h2> 

<div class="row">
<% @post2s.each do |post| %>
    <div class = "col-xs-6 col-md-3">
      <h3> <%=image_tag("#{post.image}.png") %> </h3>
      <h5>이름 : <%= post.title %> </h5>
      <h5>장소 : <%= post.place %> </h5>
    
 
  <form action="/posts/create3/<%= post.id %>">

    <input class="btn btn-default"  type="submit" value="경로에 담을래요">
    <a class="btn btn-default"  role="button" href ="/posts/destroy2/<%= post.id %>" data-confirm="삭제 할까요?">노드를 지울래요</a>
  </form></div>
<% end %>
</div>
<hr style="border-color: white;">

<h2 style>My Node Trip</h2>



<% @post3s.each do |post3| %>

     <div style="height: 40px; margin-top: 20px;"><%= post3.user.email.split("@").first %></div>
      
      <p>
     <% if  post3.title1 %><%=image_tag("#{post3.image1}.png", :class => 'circle',  :style => "border: 3px solid rgb(140,135,132)") %><%end %><% if  post3.title2 %><%=image_tag("node.png", :class => 'node') %><%=image_tag("#{post3.image2}.png",  :class => 'circle',  :style => "border: 3px solid rgb(140,135,132)") %><%end %><% if  post3.title3 %><%=image_tag("node.png", :class => 'node') %><%=image_tag("#{post3.image3}.png",  :class => 'circle',  :style => "border: 3px solid rgb(140,135,132)") %><%end %><% if  post3.title4 %><%=image_tag("node.png", :class => 'node') %><%=image_tag("#{post3.image4}.png",  :class => 'circle',  :style => "border: 3px solid rgb(140,135,132)") %><%end %><% if  post3.title5 %><%=image_tag("node.png", :class => 'node') %><%=image_tag("#{post3.image5}.png",  :class => 'circle',  :style => "border: 3px solid rgb(140,135,132)") %><%end %>
     </p>

 <% end %>

  <% @post3s.each do |post3| %>
    <br>
    <a href ="/posts/destroy3/<%= post3.id %>" data-confirm="이 노드트립을 지울까요?" class="btn btn-default" role="button">이 노드 트립을 지울래요</a> 
    <button class="btn btn-default" data-target="#layerpop" data-toggle="modal" >내 노드트립에 넣을래요</button><br/>
        <div class="modal fade" id="layerpop" >
          <div class="modal-dialog">
            <div class="modal-content">
              <!-- header -->
              <div class="modal-header">
                <!-- 닫기(x) 버튼 -->
                <button type="button" class="close" data-dismiss="modal">×</button>
                <!-- header title -->
                <h4 class="modal-title">Header</h4>
              </div>
              <!-- body -->
              <div class="modal-body">
                나의 노드 트립에 담았어요!
                구경하러 갈까요?
              </div>
              <!-- Footer -->
              <div class="modal-footer">
                <a class="btn btn-default" href="/posts/create4/<%= post3.id %>" role="button">내 노드트립 목록볼래요</a>
                <a class="btn btn-default" href="/posts/create44/<%= post3.id %>" role="button">계속 계획 짜볼래요</a>
              </div>
            </div>
          </div>
        </div>
        

 <% end %>


 
 <h3 class='hyo1'><a class="btn btn-default" role="button" href="/posts/index3/">내 노드트립 목록을 볼래요</a></h3>

</div>