

  <div class="container" style="padding: 10px;">
<body>

<div style="height: 480px; background-color: black; margin-top: 3px;">
    <div style="float: left; background-color: black; height: 480px; padding-top: 150px; padding-left: 150px;">
        <h1 style="color: white;" class="text-center"><%=@post.place %></h1>
        <h1 style="color: white;" class="text-center"><%=@post.title %></h1>
    </div>
    <div style="float: right; width: 480px; height: 480px;">
        <%=image_tag("#{@post.image}.png", :class => 'show-img') %>
    </div>
</div>

<hr>
 <%= @post.title %> 
 <%= @post.content %> 
 
 <hr>

<button class="btn btn-default" data-target="#layerpop" data-toggle="modal" >내 계획에 추가할래요</button>
<div class="modal fade" id="layerpop" >
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- header -->
      <div class="modal-header">
        <!-- 닫기(x) 버튼 -->
        <button type="button" class="close" data-dismiss="modal">×</button>
        <!-- header title -->
        <h4 class="modal-title">Header</h4>
      </div>
      <!-- body -->
      <div class="modal-body">
        내 계획에 추가되었어요! 구경갈래요?
      </div>
      <!-- Footer -->
      <div class="modal-footer">
        <a class="btn btn-default" href="/posts/create2/<%= @post.id %>" role="button">모든 노드 볼래요</a>
        <a class="btn btn-default" href="/posts/create22/<%= @post.id %>" role="button">내 계획 볼래요</a>
      </div>
    </div>
  </div>
</div>

<a class="btn btn-default" href="/posts/index" role="button">List로 갈래요</a>

</div>

</div>
</body>