 <div class="container">

<h2><%= @post4.user.email.split("@").first %>의 노드 트립 구경할래요?</h2>

  <p>
    <% if  @post4.title1 %><%=image_tag("#{@post4.image1}.png", :class => 'circle',  :style => "border: 3px solid rgb(140,135,132)") %><%end %><% if  @post4.title2 %><%=image_tag("node.png", :class => 'node') %><%=image_tag("#{@post4.image2}.png",  :class => 'circle',  :style => "border: 3px solid rgb(140,135,132)") %><%end %><% if  @post4.title3 %><%=image_tag("node.png", :class => 'node') %><%=image_tag("#{@post4.image3}.png",  :class => 'circle',  :style => "border: 3px solid rgb(140,135,132)") %><%end %><% if  @post4.title4 %><%=image_tag("node.png", :class => 'node') %><%=image_tag("#{@post4.image4}.png",  :class => 'circle',  :style => "border: 3px solid rgb(140,135,132)") %><%end %><% if  @post4.title5 %><%=image_tag("node.png", :class => 'node') %><%=image_tag("#{@post4.image5}.png",  :class => 'circle',  :style => "border: 3px solid rgb(140,135,132)") %><%end %>
   </p>
    
</br>
<div class="row">

</div>
<h2>photos</h2>


<div class="row">
  <% @post4.replies.each do |reply| %>
    <div class="col-xs-6 col-md-3">
      <% if reply.image.url %>
      <p class="thumbnail text-center" style="padding-bottom: 10px; padding-top: 10px;">
      <%= reply.title %>
      <img src="<%= reply.image.url %>" style="width: 242px; height: 200px; margin-top: 10px;"/>
      <% end %>
      </p>
    </div>
  <% end %>
</div>



</div>