<h2>show3</h2>



<h1><%= @post4.id %> 번 포스트 입니다</h1>

<h2>경로:</h2>

    <% if(@post4.title1.present?) %>
    <h3><%= @post4.title1 %></h3>
    <a href="/posts/add1/<%= @post4.id %>">add</a><br>
    <% end %>
    
    <% if(@post4.title2.present?) %>
    <%= @post4.memo1 %><br>
    <h3><%= @post4.title2 %></h3>
    <a href="/posts/add2/<%= @post4.id %>">add</a><br>
    <% end %>
    
    <% if(@post4.title3.present?) %>
    <%= @post4.memo2 %><br>
    <h3><%= @post4.title3 %></h3>
    <a href="/posts/add3/<%= @post4.id %>">add</a><br>
    <% end %>
    
    <% if(@post4.title4.present?) %>
    <%= @post4.memo3 %><br>
    <h3><%= @post4.title4 %></h3>
    <a href="/posts/add4/<%= @post4.id %>">add</a><br>
    <% end %>
    
    <% if(@post4.title5.present?) %>
    <%= @post4.memo4 %><br>
    <h3><%= @post4.title5 %></h3>
    <a href="/posts/add5/<%= @post4.id %>">add</a>
    <% end %>

    <h2>upload image</h2>
    <div class="imagegogo">
    <%= form_for [@post4, @post4.replies.build] do |f| %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title%>
    </p>
    <p>
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </p>
    <p>
      <%= f.submit %>
    </p>
    <% end %>
    </div>



<div class="row">
  <% @post4.replies.each do |reply| %>
    <div class="col-xs-6 col-md-3">
      <% if reply.image.url %>
      <p class="thumbnail text-center" style="padding-bottom: 10px; padding-top: 10px;">
      <%= reply.title %>
      <img src="<%= reply.image.url %>" style="width: 242px; height: 200px; margin-top: 10px;"/>
      <% end %>
      </p>
    </div>
  <% end %>
</div>




---------------------------------------------------

<a href="/posts/index4/">여행지목록보는index로</a>