<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/earlyaccess/jejugothic.css' rel='stylesheet' type='text/css'>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
</head>
<body>
  
  <nav class="navbar navbar-default nav-background" style="background: rgb(136, 176, 75); margin-top: 0; padding-top: 0;">
    <ul style="height: 100px; margin-top: 0; padding-top: 0;" class="nav navbar navbar-brand">
        <li><%= image_tag("logo.jpg") %></li>
    </ul>
    <ul class="nav navbar navbar-right" style="margin-right: 150px; height: 100px; margin-top: 50px;">
      <% if current_user %>
      <p><%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to 'Register', new_user_registration_path %>
      <%= link_to 'Login', new_user_session_path %></p>
      <% end %>
    </ul>
    <ul class="nav navbar navbar-right" style="margin-right: 150px; height: 100px; margin-top: 50px;">
      <p class="nav-link">
        <%= link_to 'MAIN', "/posts/main" %>
        <%= link_to 'ALL', "/posts/index4" %>
        <%= link_to 'MYPAGE', "/posts/index2" %>
      </p>
    </ul>
  </nav>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <% if current_user %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to 'Register', new_user_registration_path %>
    <%= link_to 'Login', new_user_session_path %>
    <% end %>
    <br>
    <%= yield %>
  </div>
</body>
</html>


<!--<a class="btn btn-default" href="#" role="button">Link</a>-->
<!--<button class="btn btn-default" type="submit">Button</button>-->
<!--<input class="btn btn-default" type="button" value="Input">-->
<!--<input class="btn btn-default" type="submit" value="Submit">-->
